<%= form_for(car_seat_item) do |f| %>
  <% if car_seat_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car_seat_item.errors.count, "error") %> prohibited this car_seat_item from being saved:</h2>

      <ul>
      <% car_seat_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
